<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>603374034244-2or5n7kdkvhi7bd59sqa8bb5nepaq636.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.603374034244-2or5n7kdkvhi7bd59sqa8bb5nepaq636</string>
	<key>API_KEY</key>
	<string>AIzaSyC6NwKbVX73vyoe9ufHpAyhNvuNMjkZDD0</string>
	<key>GCM_SENDER_ID</key>
	<string>603374034244</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>IOS.GroceryApp</string>
	<key>PROJECT_ID</key>
	<string>groceryapp-f574f</string>
	<key>STORAGE_BUCKET</key>
	<string>groceryapp-f574f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:603374034244:ios:d9fd4d5759610be5d4cb11</string>
</dict>
</plist>